body {
    box-sizing: border-box;
    padding: 0px 15px 60px;
    margin: 0px;
    font-family: "Petrona" !important;
}
.layout {
    width: 1200px;
    margin: 0px auto;
}
.home_banner_left{
    width: 620px;
    text-align: justify;
}
@font-face {
    font-family: 'Petrona';
    src: url('./assets/fonts/Petrona-Regular.ttf');
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-right: 60px
}

.nav_block_item.active div{
    color: #FF900E;
    border-bottom: 2px solid #FF900E;
}

.nav_block {
    display: flex;
    justify-content: space-around;
}
.nav_block_item div{
    padding: 0px 20px 15px;

}
.nav_block_item {
    text-align: center;
    font-size: 24px;
    padding: 15px 30px;
}

.banner{
    display: flex;
    gap: 70px;

}
.main_content{
    padding-top:60px;
}
.home_banner_img{
}
.home_banner_img img{
    max-width: 632px;
    width: 100%;
}

.title1{
    font-weight: bold;
    font-size: 40px;
    margin-top:50px;
    margin-left:10px
}
.title2{
    font-size: 32px;
    margin-top:50px
}
.title3{
    font-size: 30px;
    text-align: justify;
    margin-top:50px
}
.title_block2{
    padding-left: 30px;
}
.title_block3_item{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.title_block3_item img{
    width: 39px;
    height: auto;
}
.title_block3{
    margin-top:90px
}
.title4{
    font-weight: bold;
    font-size: 24px;
}
.title_block3_item{
    margin-top: 20px;
}
.project_block{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.item_img{
    width: 100%;
    background: #ccc;
}
.item_des{
    margin-top:30px;
    font-size: 32px;
}
.item_img img{
    width: 100%;
}
.project_block_item{
    width: 46%;
    margin-top: 50px;
}
.download{
    width: 239px;
    height: 63px;
    line-height: 67px;
    text-align: center;
    background:#FFDDB6;
    font-size:19px;
    cursor: pointer;
}
.resume_block{
    display: flex;
    justify-content: center;

}
.resume_block_content{
    width: 900px;
    background: #ccc;
    margin-top:90px
}
.resume_block_content img{
    width: 100%;
}
.pro1 .project_detail_item{
    width: 100%;
    padding: 30px 15px;
}
.project_detail_item{
    width: 100%;
    padding: 0px 15px;
}
.project_detail_item img{
    width: 100%;
}
.project_detail_item video{
    width: 100%;
}
@media screen and (max-width:750px){
    body {
        padding: 0px 0px 60px;
        overflow-x: hidden !important;
        
    }
    .layout{
       width: 100%;

    }
    .block{
        flex-flow:row wrap;
        align-content: flex-start;
        width: 100%;
    }
    .nav_block{
        padding: 0px;
    }
    .nav_block_item{
        padding: 0px;
        font-size: 18px;
    }
    .logo_block{
        margin: 40px 0px;
        display: flex;
        justify-content: center;
    }
    .block_item{
        width: 100%;
        box-sizing: border-box;
        padding:0px 15px;

    }
    .nav{
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        padding: 0px;
        box-sizing: border-box;
        width: 100vw;
    }
    .main_content{
        padding-top: 30px;
    }
    .banner{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .nav_block_item {
        width: 33%;
    }
    .nav_block_item div{
        padding:0 8px 15px 
    }
    .home_banner_img{
        
        text-align: center;
    }
    .home_banner_img img{
        width: 70%;
    }
    .home_banner_left{
        text-align: center !important;
        padding: 0px 30px;
    }
    .title1{
        font-size: 20px;
        margin: 20px 0px;
    }
    .title2{
        font-size: 20px;
        margin: 35px 0px 20px;
    }
    .title_block3_item{
        gap:10px;
        align-items: center;
    }
    .title_block3{
        margin-top: 35px;
        padding: 0% 15%;
    }
    .title_block3{
        gap:10px
    }
    .title_block3 img{
        width: 30px;
    }
    .title3{
        font-size: 14px;
        text-align: center;
        margin-top: 35px;
    }
    .title_block2{
        padding: 0px;
    }
    .title4{
        font-size: 18px;
    }
    .project_block_item{
        margin-top: 20px;
    }
    .project_block_item:first-child{
        margin-top: 0px;
    }
    .item_des{
        font-size: 20px;
        margin-top: 20px;
    }
    .download_block{
        display: flex;
        justify-content: center;
    }
    .resume_block{
        display: flex;
        justify-content: center;
    
    }
    .resume_block_content{
        width: 80%;
        
        margin-top:30px
    }
    #pro2_video video{
        height: 150px !important;
    }
}
    